body{
  color: #F8E077;
  background-color: #4F404D;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;

}

.grid{
  display: grid;
  /*
  grid-template-columns: 150px 150px 80px;
  grid-template-rows: 100px auto;
  grid-gap: 10px 15px;*/

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:  "ga-random      ga-random       ga-random"
                        "ga-banner      ga-banner       ga-banner"
                        "ga-chart       ga-chart        ga-chart"
                        "ga-chart       ga-chart        ga-chart"
                        "ga-mashinput   ga-mashoutput   ga-pump"
                        "ga-mashinput   ga-mashoutput   ga-pump"
                        "ga-footer      ga-footer       ga-footer";
  border: 1px solid black;
}
#random{
  grid-area: ga-random;
  background-color: skyblue;
  text-align: center;
  padding-left: 10px;
}
#banner{
  grid-area: ga-banner;
  background-color: #A0675D;
  text-align: center;
  padding-left: 10px;
}

#chart{
  grid-area: ga-chart;
  background-color: #A99A8A;
  padding-left: 10px;
}

#mashInput{
  grid-area: ga-mashinput;
  background-color: #CB7B5F;
  padding-left: 10px;
}

#mashOutput{
  grid-area: ga-mashoutput;
  background-color: #F2A25F;
  padding-left: 10px;
}

#boilInput{
  grid-area: ga-boilinput;
  background-color: #CB7B5F;
  padding-left: 10px;
}

#boilOutput{
  grid-area: ga-boiloutput;
  background-color: #F2A25F;
  padding-left: 10px;
}

#pump{
  grid-area: ga-pump;
  background-color: #CB7B5F;
  padding-left: 10px;
}

#footer{
  grid-area: ga-footer;
  background-color: #A99A8A;
  padding-left: 10px;
}
