/* colour variables */

.panel {
	--panelColorOne: #1F1F1F;
	--panelColorTwo: #292929;
}

body {
	--backgroundcolour: #292929;
	--fontcolour: #F8E077;
}

/* styles */

@supports (grid-area: auto) {
	@media screen and (min-width: 360px) {

    .grid {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(340px,1fr));
      grid-gap: 10px;
    }
	}
}

body{
  color: var(--fontcolour);
  background-color: var(--backgroundcolour);
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
}

.panel{
	background: linear-gradient(to right, var(--panelColorOne), var(--panelColorTwo));
	/*background-color: grey;*/
  padding-left: 10px;
  padding-top: 5px;
  /*border: 2px solid black;*/
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#mode-selector{

}

#banner{

}

#chart{

}

#mashInput{

}

#mashOutput{

}

#boilInput{

}

#outputIndicators{

}

#controlValues{

}

#pump{

}

#footer{

}
